* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #f0f2f5;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.left {
    width: 45%;
}

.left h1 {
    color: #1877f2;
    font-size: 60px;
    font-weight: bold;
}

.left p {
    font-size: 24px;
    margin-top: 10px;
}

.right {
    width: 35%;
}

.login-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background: #166fe5;
}

.login-box a {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.login-box hr {
    margin: 20px 0;
    border: 0.5px solid #ddd;
}

.create-btn {
    background: #42b72a;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn:hover {
    background: #36a420;
}

.bottom-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}